.button {
    cursor: pointer;
    font-family: "Urbanist";
    font-size: var(--font-size-sm);
    font-weight: 500;
    color: var(--text-primary-color);
    border-radius: 10px;
    
}
.button.primary {
    width: 152px;
    height: 49px;
    background-color: var(--background-btn);
    border: none;
 
}
.button.secondary {
    width: 139px;
    height: 63px;
    background-color: var(--primary-background);
    border: 1px solid var(--primary-border);
  
}