*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero {
    width: 100%;
    margin-top: 0;
    .hero-main {
        width: 100%;
        min-height: 622px;
        display: flex;
        .hero-content {
            width: 50%;
            padding: 98px 60px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .section-heading {
                    align-self: self-start;
            }
            .hero-buttons {
                display: flex;
                align-items: center;
                gap: 16px;
                margin-top: 50px;
            }
        }
        .hero-image {
            width: 50%;
            height: auto;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            min-width: 0;
            img {
                width: 100%;
                height: auto;
                object-fit: contain;
                
            }
        }
    }
}

@media screen And (max-width : 992px) {
    .hero {
        width: 100%;
        margin-top: 40px;
        .hero-main {
            width: 100%;
            min-height: auto;
            display: flex;
            flex-direction: column;
            .hero-image {
                order: 1;
                width: 100%;
                min-width: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 95%;
                    height: auto;
                    border: 1px solid var(--primary-border);
                    border-radius: 12px;
                }
            }
            .hero-content {
                order: 2;
                width: 100%;
                padding: 24px 16px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .hero-buttons {
                    width: 100%;
                    margin-top: 40px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 16px;
                }
            }
        }
    }
}