/* .property-slider {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 40px;
    width: 100%;
    
    .slider-window {
        width: 100%;
        overflow: hidden;
    }
   
    .slider-track {
        display: flex;
        align-items: center;
        gap: 20px;
        transition: all 0.5s;
             .card {
           flex: 0 0 calc((100% - 40px) / 3);
           max-width: 413px;
           padding: 30px;
           color: var(--text-primary-color);   
           border: 1px solid var(--primary-border);

          .image-card {
            object-fit: cover;
            max-width: 353px;
            margin-bottom: 20px;
            border-radius: 10px;
           }
           h2 {
                font-weight: 600;   
                font-size: var(--font-size-lg);     
                line-height: 150%;
           }
           .desc {   
                font-weight: 500;     
                line-height: 150%;
                color: var(--text-secondary-color);
                margin-bottom: 24px;

           }
           .container-room {
            margin-bottom: 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: var(--font-size-sm);
            .back {
                padding: 6px 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
                border-radius: 28px;
                border-width: 1px;
                background-color: var(--second-background );

            }
           }
           .content {
            display: flex;
            justify-content: space-between;
            gap: 40px;
            small {
                font-size: var(--font-size-sm);
                color: var(--text-secondary-color);
            }
            button {
                width: 100%;
            }
           }
        }
        }
        
    }
       .icons {
        border-top: 1px solid var(--primary-border);
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 10px;

        button {
            width: 44px;
            height: 44px;
            background: none;
            cursor: pointer;
            border: 1px solid var(--primary-border);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            &.right {
                background-color: var(--second-background);
            }
        }
    }
  
 */

 .property-slider {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 60px;
}

.slider-window {
  width: 100%;
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
}


/* ================= DESKTOP ================= */

.desktop-slider {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.desktop-slide {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  align-content: center;
}

.slide-card {
  width: 100%;
}


.slider-btn {
  width: 45px;
  height: 45px;

  border: none;
  background-color: #F54748;
  border-radius: 50px;

  color: #fff;

  cursor: pointer;
  flex-shrink: 0;
}


/* ================= MOBILE ================= */

.mobile-slider {
  display: none;
}


@media screen and (max-width: 992px) {

  .desktop-slider {
    display: none;
  }

  .mobile-slider {
    position: relative;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 5px;

    .container-btn {
      position: absolute;
      width: 100%;

      display: flex;
      align-items: center;

      .prev {
        position: absolute;
        z-index: 222;
        left: 0;
      }

      .next {
        position: absolute;
        z-index: 222;
        right: 0;
      }
    }

    .mobile-slide {
      min-width: 100%;
      flex-shrink: 0;
    }
  }
}