 section {
    margin-top: 90px;
 } 
 
 .cta {
   position: relative;
   overflow: hidden;
   min-height: 367px;
   display: flex;
   border-width: 1px 0px 1px 0px;
   border-style: solid; 
   border-color: var(--primary-border);
  .bg-left-sm , .bg-right-sm {
      display: none;
      position: absolute;
      z-index: -1;
    }

  .bg-left , .bg-right {
    position: absolute;
    bottom: 0;
    z-index: -1;
   }

   .bg-left {
    left: 0;
   }
   .bg-right {
    right: 0;
   }
 
  .container{
        align-items: center;

        .section-heading {
        max-width: 979px;
            h1 {
                font-size: 38px;  
                line-height: 150%;
            }

            p{
                
                font-size: 16px;
    
            }
        }

    
    .button.primary {
            padding: 14px 20px;
            display: flex;
            align-items: center; 
            justify-content: center;
              }
    }

 

 }

.properties-section {
  .container {
    flex-direction: column; 
  }
}

.testimonials-section {
  .container{
    flex-direction: column;
  }
}
.our-value {
  .values-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    .section-heading {
      width: 35%;
    }
    .value-card {
      width: 60%;
    }
  }
}

.our-value-clients {
  .container {
    flex-direction: column;
    gap: 0;
  }
}
section.hero-property {
  padding-top: 236px;
  margin-top: 0;
  width: 100%;
 
  .container {
    flex-direction: column;
    .heading-hero {
     padding-bottom: 40px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap:20px;
      h1{
        font-weight: 600;
        font-size: var(--font-size-xl);
        line-height: 150%;
        letter-spacing: 0%;

      }
     }
     .city {
      padding: 8px;
      border: 1px solid var(--primary-border);
      border-radius: 6px;
      display: flex;
      align-items: center;
      img {
        width: 20px;
        height: 20px;
      }
      p{
    
font-weight: 500;
font-size: var(--font-size-sm);
line-height: 150%;
letter-spacing: 0%;

      }
     }
     .price {
      small{
        color: var(--text-secondary-color);
      }
     }
    }
    .image-hero {
      box-sizing: border-box;
      background-color: var(--second-background);
      border: 1px solid var(--primary-border);
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px;
      img {
        object-fit: cover;
        border-radius: 12px;
        max-width: 1200px;
        max-height: 507px;
        width: 100%;
      }
    }
  }
}

 @media screen And (max-width : 992px) {
   section {
     margin-top: 66px;
     &.properties-section{
      margin-top: 93px;
     }
      &.cta {
     .bg-left , .bg-right {
      display: none;
     }

    .bg-left-sm , .bg-right-sm {
      display: block;
 
    }
     .bg-left-sm {
      top: 0;
      left: 0;
    
     }
   .bg-right-sm  {
      bottom: 0;
      right: 0;
      
    }
    
    .container {
            flex-direction: column;
            justify-content: center;
            gap: 30px;
           
          .section-heading {
              h1 {
                  font-size:var(--font-size-2xl) ;
              }
              p {
                  font-size: var(--font-size-sm);
              }
          }
         
          .button.primary {
            width: 100%;
            max-width: 357px;

          }
   
        }
    
  }
  .our-value {
    .values-content {
      flex-direction: column;
      gap: 40px;
      .section-heading,
      .value-card {
        width: 100%;
      }
    }
  }
 
   }
  
 }