.section-heading {
    display: flex;
    flex-direction: column;
    gap: 24px;
    h1 {
        margin: 0;
        font-size: 46px;
        font-weight: 600;
        font-style: SemiBold;
        line-height: 120%;
        color: var(--text-primary-color);
        letter-spacing: 0%;
    }
    p {
        margin: 0;
        font-size: var(--font-size-md);
        line-height: 150%;
        font-weight: 500;
        letter-spacing: 0%;
        font-style: Medium;
        color:var(--text-secondary-color);
    }
}

@media screen And (max-width : 992px) {
    .section-heading {
        display: flex;
        flex-direction: column;
        gap: 16px;
        h1 {
            font-size: var(--font-size-2xl);
        }
        p {
            font-size: var(--font-size-sm);
        }
    }
}