.card {
           width: 100%;
           max-width: 413px;
           color: var(--text-primary-color);   
           border: 1px solid var(--primary-border);
           border-radius: 12px;
           display: flex;
           flex-direction: column;

            h2 {
                font-weight: 600;   
                font-size: var(--font-size-lg);     
                line-height: 150%;
                letter-spacing: 0%;
           }
           p.desc {
            font-weight: 500;     
            line-height: 150%;
            letter-spacing: 0%;
           }
           
}

@media screen And (max-width : 992px) {
             .card {
                max-width: 358px ;
                
                h2{
                    font-size: var(--font-size-md);
                    }
                p.desc {
                    font-size: var(--font-size-sm);
                }
            
            }
                        
                        }