.cost-item {
    line-height: 150%;
    letter-spacing: 0%;
    width: 100%;
    padding-right: 24px;
    &:nth-child(1):not(:last-child) {
        border-right: 1px solid var(--primary-border);
        margin-right: 20px;
    }
    
    p {
        color: var(--text-secondary-color);
         font-weight: 500;
        font-size: var(--font-size-sm);
    }
    .title {
        padding-bottom: 12px;
    }
    .content {
        display: flex;
        align-items: center;
        gap:12px;
           h3 {
            font-weight: 600;
            font-style: SemiBold;
            font-size: var(--font-size-lg);
    }
    .desc {
        padding: 6px 12px;
        background-color: var(--second-background);
        border: 1px solid var(--primary-border);
        border-radius: 28px;
    }
    }
  
}

@media screen And (max-width: 992px) {
    .cost-item {
        width: 100%;
        padding-top: 20px;
        padding-right: 0;
         &:nth-child(1):not(:last-child) {
            border-right: none;
            border-bottom: 1px solid var(--primary-border);
            padding-bottom: 20px;
            margin-right: 0;
         }
         .content {
            h3 {
                font-size: var(--font-size-md);
            }
             .desc {
            border-radius: 6px;
         }

         }
         
    }
}